<div class="page-header">
  <div class="pull-right">
    <%= link_to '(showing first 500)', :class => "btn btn-info" %>
  </div>
  <h1>Stories for gCamp</h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Story
      </th>
      <th>
        Estimate
      </th>
      <th>
        Labels
      </th>
      <th>
        Current State
      </th>
    </tr>
  </thead>

  <tbody>
    <% @tracker_stories.each do |story| %>
    <tr>
      <td>
        <%= link_to story[:name], story[:url] %>
      </td>
      <td>
        <%= story[:estimate] %>
      </td>
      <td>
        <% story[:labels].each_with_index do |label, index| %>
           <%= label[:name] %>
           <% if index < story[:labels].length - 1 %>
             ,
           <% end %>
        <% end %>
      </td>
      <td>
        <%= story[:current_state] %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
