<div class="page-header">
  <h2><%= title %></h2>
</div>
<%= form_for [@project, @task], html: {class: "form-horizontal"} do |f| %>

<div class="form-group">
  <div class="col-md-offset-2 col-md-6">
    <%= render "shared/errors", instance: @task %>
  </div>
</div>


<div class="form-group row">
  <%= f.label :description, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :description, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :due_date, class: "col-sm-2 control-label" %>
  <div class="col-sm-2">
    <%= f.date_field :due_date, class: "form-control" %>
  </div>
</div>

<% if @task.id %>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :complete %> Complete
      </label>
    </div>
  </div>
</div>
<% end %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
</div>

<% end %>
