<%= form_for @task do |f| %>

  <div class="form-group row">
      <%= f.label :description, class: "col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
      <%= f.label :due_date, class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.date_field :due_date %>
    </div>
  </div>
  <% unless current_page?(new_task_path) %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <label>
        <%= f.label :complete %>
        <%= f.check_box :complete %>
      </label>
    </div>
  </div>
<% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>

</form>
