  <% if notice %>
    <div class="alert alert-success text-center">
      <%= notice %>
    </div>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>
  <p>
    <strong>Completed:</strong>
    <%= @task.complete %>
  </p>
  <p>
    <strong>Due Date:</strong>

      <% if @task.due_date %>
      <%= @task.due_date.strftime("%m/%d/%Y") %>
      <% else nil %>
      <%end%>

  </p>
  <br>

  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
