

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= mail_to @user.email %>
</p>
<p>
  <strong>Pivotal Token Tracker:</strong>
  <%#= "#{@user.pivotal_tracker_token[0..3]} #{@user.pivotal_tracker_token.from(4).gsub(/./,"*")}" %>
</p>
<br>
<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
