  <div class="page header text-center">
    <h1>About</h1>
  <p>Get organized and increase productivity with your team.</p>
  </div>

<div class="text-center">
  <%= image_tag("meeting.png") %>
</div>

<p class="col-md-12">
  <%= pluralize(Project.count, "Project") %>
  <%= pluralize(Task.count, "Task") %>
  <%= pluralize(Membership.count, "Member") %>
  <%= pluralize(User.count, "User") %>
  <%= pluralize(Comment.count, "Comment") %>
</p>
