<!-- header -->
<div class="page-header">
  <div class="pull-right">
    <% if current_user.owner?(@project) %>
    <%= link_to "Edit", edit_project_path(@project), class: "btn btn-info" %>
    <% end %>
  </div>
  <h1><%= @project.name %></h1>
</div>
<!-- breadcrumb -->
<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<div class="row">
  <div class="col-md-6">
    <p>
      <%= link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project) %>
    </p>
    <p>
      <%= link_to pluralize(@project.memberships.count, "Membership"), project_memberships_path(@project) %>
    </p>
  </div>
</div>

<div class="well">
  <p>
    <strong>Delete Project</strong>
  </p>
  <p>
    Deleting this project will also delete
    <%= pluralize(@project.memberships.count, "Membership") %>,
    <%= pluralize(@project.tasks.count, "Task") %>
    and associated comments.
  </p>
  <%= link_to "Delete",
  project_path(@project),
  method: :delete,
  data: {confirm: "Are you sure?"},
  class: "btn btn-danger" %>
</div>
