<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gCamp</title>
</head>

<body style= "padding-top: 100px">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <font size= "6"><%= link_to "gCamp", root_path, class: "navbar-brand" %> </font>
        <div class= "navbar-brand navbar-nav navbar-right">
         <% if current_user %>
         <%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user) %>
         |
         <%= link_to "Sign Out", signout_path %>
         <% else %>
         <%= link_to "Sign Up", signup_path %>
         |
         <%= link_to "Sign In", signin_path %>
         <% end %>
        </div>
      </div>
    </div>

  <div class="container">

    <%= yield %>

  </div>
  <div class="container">
    <footer>
      <div class="col-md-4">
      <%= link_to "about", about_path %> |
      <%= link_to "terms", terms_path %> |
      <%= link_to "faq",     faq_path %> |
      <%= link_to "users", users_path %> |
      <%= link_to "tasks", tasks_path %> |
      <%= link_to "projects", projects_path %>
      </div>
      <div class="col-md-2 col-md-offset-8">
      <%= link_to "https://students.gschool.it/cohorts/3/students/95" do %>
        <%= image_tag("gschool-logo.png", width: "20em") %>
      <% end %> |
      <%= link_to "http://www.linkedin.com/pub/wesley-whitney/a5/aa4/442/" do %>
        <%= image_tag("linked_in.png", width: "20em") %>
      <% end %> |
      <%= link_to "https://github.com/weswhitney" do %>
        <%= image_tag("GitHub-Mark.png", width: "20em") %>
      <% end %> |
      <%= link_to "https://twitter.com/wes_whitney" do %>
        <%= image_tag("Twitter_logo_blue.png", width: "20em") %>
      <% end %> |
      </div>
    </footer>
  </div>
</body>
</html>
